<style>
div {
  width:300px;
  margin:center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
#picture {
	float: left;
	width: 300px;
	margin:0px .8em 0px 0px;}
.p {
  text-align: center;
}
.p {
  background-color: grey;
  color: white;
  border: 4px solid black;
  margin: 20px;
  padding: 20px;
}
.center {
  margin: auto;
  width: 50%;
  border: 5px solid black;
  padding: 10px;
}
.p {
  font-family: "Lucida Console", "Courier New", monospace;
}
</style>
</head>
<body>
